<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Todo List</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <div class="container" ng-controller="MainController">

            <form ng-submit="addTodo()">
                <div class="input-group">
                    <input ng-model="newTodo" type="text" name="name" id="name" class="form-control input-lg" required />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg">Add</button>
                    </span>
                </div>
            </form>

            <div class="list-group">
                <a class="list-group-item" ng-repeat="todo in todos | orderBy:'created_at':true">
                    <button type="button" class="btn btn-link" ng-click="updateTodo(todo)">
                        <span ng-hide="todo.done" class="glyphicon glyphicon-unchecked"></span>
                        <span ng-show="todo.done" class="glyphicon glyphicon-check"></span>
                    </button>
                    <span>{{ todo.name }}</span>

                    <button type="button" class="btn btn-link pull-right" ng-click="deleteTodo(todo.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </a>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
